assets/models/characters/brian.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Braced[[:space:]]Hang.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Braced[[:space:]]Hang[[:space:]]Drop.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Over[[:space:]]Obstacle[[:space:]]Jumping.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Standard[[:space:]]Run.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Jump[[:space:]]To[[:space:]]Hang.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Free[[:space:]]Hang[[:space:]]To[[:space:]]Braced.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Jump[[:space:]]To[[:space:]]Freehang.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Standing[[:space:]]Jumping.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Falling[[:space:]]To[[:space:]]Roll.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Breathing[[:space:]]Idle.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Freehang[[:space:]]Climb.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Hard[[:space:]]Landing.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Running[[:space:]]Slide.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Stand[[:space:]]To[[:space:]]Freehang.glb filter=lfs diff=lfs merge=lfs -text
assets/models/animations/Braced[[:space:]]Hang[[:space:]]To[[:space:]]Crouch.glb filter=lfs diff=lfs merge=lfs -text
assets/audio/sound_effects/step2.ogg filter=lfs diff=lfs merge=lfs -text
assets/audio/sound_effects/step3.ogg filter=lfs diff=lfs merge=lfs -text
assets/audio/sound_effects/step4.ogg filter=lfs diff=lfs merge=lfs -text
assets/audio/sound_effects/button_click.ogg filter=lfs diff=lfs merge=lfs -text
assets/audio/sound_effects/button_hover.ogg filter=lfs diff=lfs merge=lfs -text
assets/audio/sound_effects/step1.ogg filter=lfs diff=lfs merge=lfs -text
