(
  timestamp: 34.72737,
  config: (
    enabled: false,
    max_ground_distance: 2,
    foot_height_offset: 0.05,
    adjustment_strength: 1,
  ),
  parkour_state: "Idle",
  ik_should_be_active: true,
  bones_found: (
    left_foot: "Found",
    left_foot_pos: (-9.083324, 0.34083062, 3.6485307),
    right_foot: "Found",
    right_foot_pos: (-9.377463, 0.34083447, 3.6637986),
  ),
  ik_constraints: [
    (
      bone: "mixamorig12:LeftFoot",
      enabled: false,
      chain_length: 2,
      iterations: 20,
    ),
    (
      bone: "mixamorig12:RightFoot",
      enabled: false,
      chain_length: 2,
      iterations: 20,
    ),
  ],
  ik_targets: (
    left_foot_target: (0, 0, 0),
    right_foot_target: (0, 0, 0),
  ),
)
