(
  timestamp: 74.953125,
  config: (
    enabled: false,
    max_ground_distance: 2,
    foot_height_offset: 0.05,
    adjustment_strength: 1,
  ),
  parkour_state: "Idle",
  ik_should_be_active: true,
  bones_found: (
    left_foot: "Found",
    left_foot_pos: (-0.14715096, 0.24221164, 0.038734592),
    right_foot: "Found",
    right_foot_pos: (0.14715125, 0.24221548, 0.050410606),
  ),
  ik_constraints: [
    (
      bone: "mixamorig12:LeftFoot",
      enabled: false,
      chain_length: 2,
      iterations: 20,
    ),
    (
      bone: "mixamorig12:RightFoot",
      enabled: false,
      chain_length: 2,
      iterations: 20,
    ),
  ],
  ik_targets: (
    left_foot_target: (0, 0, 0),
    right_foot_target: (0, 0, 0),
  ),
)
