(
  timestamp: 19.11743,
  config: (
    enabled: true,
    max_ground_distance: 2,
    foot_height_offset: 0.05,
    adjustment_strength: 1,
  ),
  parkour_state: "Idle",
  ik_should_be_active: true,
  bones_found: (
    left_foot: "Found",
    left_foot_pos: (-2.259811, 1.1470162, -3.8856032),
    right_foot: "Found",
    right_foot_pos: (-2.454702, 0.948834, -4.0034733),
  ),
  ik_constraints: [
    (
      bone: "mixamorig12:LeftFoot",
      enabled: true,
      chain_length: 2,
      iterations: 20,
    ),
    (
      bone: "mixamorig12:RightFoot",
      enabled: true,
      chain_length: 2,
      iterations: 20,
    ),
  ],
  ik_targets: (
    left_foot_target: (-2.2263234, 1.6470926, -3.9973698),
    right_foot_target: (-1.8515158, 0.175, -3.534417),
  ),
)
