(
  library_status: (
    vault_clip: "StrongHandle<AnimationClip>{ id: Index(AssetIndex { generation: 0, index: 0 }), path: Some(models/animations/vault.glb#Animation0) }",
    climb_clip: "StrongHandle<AnimationClip>{ id: Index(AssetIndex { generation: 0, index: 13 }), path: Some(models/animations/Freehang Climb.glb#Animation0) }",
    slide_clip: "StrongHandle<AnimationClip>{ id: Index(AssetIndex { generation: 0, index: 14 }), path: Some(models/animations/Running Slide.glb#Animation0) }",
  ),
  sampling_status: (
    complete: false,
  ),
)
