(
  duration: 1.0333333,
  curves: [
    (
      target_id: "AnimationTargetId(6b66a4d7-44e9-51e6-98ae-24cf220607e6)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(f9b680b0-e6c6-5099-8e48-b8f8aa0c5598)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(c72d1b7a-78cd-5f3d-b90c-16d2e64518bb)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(4ec1cf6f-7885-5051-92c6-17b24e1a64d6)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(d4b8fe70-323e-5c3d-8025-5581398f66b5)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(ef72066b-73a3-56d0-b103-5fc663f8abd9)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(2a086d1e-6f56-53d3-8c66-a222c69e3155)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(b92ac888-6657-5178-888b-966c5efded6e)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(fdff2d17-4171-537f-9124-cb08f96b90e8)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(b47ec9e9-7a7f-5d10-932f-dbb5ea733c07)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(98bb47d5-0bd1-54ef-81d7-4bd958da43f8)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(eb9fdb59-cc81-5014-9fa4-d157b70b6489)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(320ce8c6-1042-5ced-b6f1-4724203675f3)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(635ea5d2-9bbf-54e9-b673-bff6e0247077)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(99a42f91-8d18-5235-bff3-900a70b0922b)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(5fa5577f-3d7c-5b3e-acb0-ece62d5c2e9b)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(b6acea7e-cdbc-56c4-b7c4-bb550d224a62)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(39358af0-5c35-5eae-9b6c-1a9a39b22304)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(12624204-ef94-513d-9458-28c7029fca93)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(ab8bb475-e43e-596e-a6d0-f5672befabc1)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(5852d937-7e19-5767-ab47-b45a8907a557)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(7fde9f07-546e-5072-9736-605bfb7535c2)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(f6d16983-9f99-5670-9807-e6c8c9ab7e42)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(5d89b471-3ac2-5013-a0dd-7f7f8529b321)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(aa212274-35e6-584e-b56a-714703e19561)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(7382fc94-db9a-527e-bd1a-488ce989c64b)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(1930aa7d-22c8-51e4-81aa-4778d7a42554)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(ab864835-3bbb-5044-b90e-ab3c796959f2)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(a65fd081-10e6-5b96-903d-60dac8feaaae)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(9148dbe2-7009-5d44-8aec-5c639249807d)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(6352d73c-356b-51aa-bd98-ade2c15fb99d)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(908b61fe-c86b-543c-a73f-5f34cea7df80)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(8fe82b5c-3fae-5fd2-81c5-3a9a78536bed)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(97656320-99b3-5ab9-9f3b-1c4fef2693f9)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(f07956ac-1967-5ef7-89cc-26949cbaa1b6)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(67664d10-d6a8-5ac3-9113-883fb6d90f00)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(27dbcd13-d14f-5212-bd05-e14e55e24cd4)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(d1b2a371-f10e-5f5f-810d-707b364d9819)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(46aebc64-5f74-53a1-9d3c-a999b1eb6368)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(3ce20e82-e09a-5047-92cc-1d44bdcdee8d)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(54503f94-3573-5a86-9b20-72bea662594c)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(4972f70d-a893-5b1f-a93c-6d45cbae1a53)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(adb04e21-7520-5abc-9baa-71c574bce271)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(b7826c0c-f18b-5f22-b3ca-e8d9ffea6576)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(67ea545b-bccf-5334-a320-3dcebb4eaee1)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(e31b9ec3-0489-5db9-a39f-75e3e803a76d)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(41c8a6c3-c844-5d13-890b-ecf164f93d4b)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(def877f6-ebd2-5eee-b5f9-1c77c4d94237)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(e3eb603a-ef39-5325-9e66-419e6009e3fd)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(80dbc2d2-c089-5bca-920f-9d195598a015)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(8b297ef0-69d1-5b3b-80d6-067ca0fb46d9)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(15beef3f-fb54-5d3d-a115-64d0462d7ade)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(f36b1f93-1b8d-552d-a46c-749342beaacb)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(128f4d57-28eb-5be5-b81c-1f9d0b7f9c8d)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(1775742e-ead4-5c5e-8303-78ed26a9eeb3)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(02153673-e763-51fc-a19c-ed6454f1ad92)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(017802c1-7e55-51b2-a7f8-83d45452c441)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(ab4c892a-bab3-5e59-8d1e-90abb655aaad)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(62cfd62f-58b6-5d0c-837e-1e50ccd282fb)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(39ca4d78-98ba-589d-8c10-73dba3efa367)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(83c84f71-8185-57bd-81ef-f343d98106c6)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(abb5848d-341e-505e-b504-34ee09bdffa2)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(77d5638e-1eb3-556d-85ec-05264512be90)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(648cf1a7-deb4-5067-b1e2-31c5661ee91d)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
    (
      target_id: "AnimationTargetId(55b727e4-8b8a-5a9f-a346-2ccd03833760)",
      curve_count: 3,
      // GLTF has 66 named nodes
    ),
  ],
  total_curve_count: 65,
  gltf_named_nodes: [
    "mixamorig12:RightToe_End",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 59 }), path: Some(models/animations/vault.glb#Node59) }
    "mixamorig12:LeftHandPinky4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 19 }), path: Some(models/animations/vault.glb#Node19) }
    "mixamorig12:LeftHandMiddle2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 13 }), path: Some(models/animations/vault.glb#Node13) }
    "mixamorig12:LeftHandThumb1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 6 }), path: Some(models/animations/vault.glb#Node6) }
    "mixamorig12:LeftHandMiddle3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 12 }), path: Some(models/animations/vault.glb#Node12) }
    "mixamorig12:RightFoot",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 61 }), path: Some(models/animations/vault.glb#Node61) }
    "mixamorig12:LeftHandPinky1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 22 }), path: Some(models/animations/vault.glb#Node22) }
    "mixamorig12:RightToeBase",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 60 }), path: Some(models/animations/vault.glb#Node60) }
    "mixamorig12:LeftFoot",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 56 }), path: Some(models/animations/vault.glb#Node56) }
    "mixamorig12:LeftUpLeg",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 58 }), path: Some(models/animations/vault.glb#Node58) }
    "mixamorig12:RightLeg",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 62 }), path: Some(models/animations/vault.glb#Node62) }
    "mixamorig12:Spine",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 53 }), path: Some(models/animations/vault.glb#Node53) }
    "mixamorig12:RightHandIndex2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 33 }), path: Some(models/animations/vault.glb#Node33) }
    "mixamorig12:Head",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 1 }), path: Some(models/animations/vault.glb#Node1) }
    "mixamorig12:RightHandIndex3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 32 }), path: Some(models/animations/vault.glb#Node32) }
    "mixamorig12:LeftForeArm",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 24 }), path: Some(models/animations/vault.glb#Node24) }
    "mixamorig12:RightHandPinky1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 46 }), path: Some(models/animations/vault.glb#Node46) }
    "mixamorig12:RightHandIndex4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 31 }), path: Some(models/animations/vault.glb#Node31) }
    "mixamorig12:LeftHandRing2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 17 }), path: Some(models/animations/vault.glb#Node17) }
    "mixamorig12:LeftHandPinky2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 21 }), path: Some(models/animations/vault.glb#Node21) }
    "mixamorig12:RightHandMiddle2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 37 }), path: Some(models/animations/vault.glb#Node37) }
    "mixamorig12:RightHandMiddle4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 35 }), path: Some(models/animations/vault.glb#Node35) }
    "mixamorig12:LeftHandThumb2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 5 }), path: Some(models/animations/vault.glb#Node5) }
    "mixamorig12:RightHandThumb2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 29 }), path: Some(models/animations/vault.glb#Node29) }
    "mixamorig12:LeftHandMiddle1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 14 }), path: Some(models/animations/vault.glb#Node14) }
    "mixamorig12:LeftToeBase",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 55 }), path: Some(models/animations/vault.glb#Node55) }
    "mixamorig12:RightHandMiddle1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 38 }), path: Some(models/animations/vault.glb#Node38) }
    "mixamorig12:LeftShoulder",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 26 }), path: Some(models/animations/vault.glb#Node26) }
    "mixamorig12:RightHandRing4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 39 }), path: Some(models/animations/vault.glb#Node39) }
    "mixamorig12:Hips",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 64 }), path: Some(models/animations/vault.glb#Node64) }
    "mixamorig12:LeftToe_End",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 54 }), path: Some(models/animations/vault.glb#Node54) }
    "mixamorig12:RightHandIndex1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 34 }), path: Some(models/animations/vault.glb#Node34) }
    "mixamorig12:LeftHandThumb4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 3 }), path: Some(models/animations/vault.glb#Node3) }
    "mixamorig12:LeftHandMiddle4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 11 }), path: Some(models/animations/vault.glb#Node11) }
    "mixamorig12:HeadTop_End",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 0 }), path: Some(models/animations/vault.glb#Node0) }
    "mixamorig12:LeftArm",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 25 }), path: Some(models/animations/vault.glb#Node25) }
    "mixamorig12:RightHandRing1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 42 }), path: Some(models/animations/vault.glb#Node42) }
    "mixamorig12:LeftHandRing4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 15 }), path: Some(models/animations/vault.glb#Node15) }
    "mixamorig12:LeftHandIndex2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 9 }), path: Some(models/animations/vault.glb#Node9) }
    "mixamorig12:RightHandThumb1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 30 }), path: Some(models/animations/vault.glb#Node30) }
    "mixamorig12:LeftHand",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 23 }), path: Some(models/animations/vault.glb#Node23) }
    "mixamorig12:RightHandRing2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 41 }), path: Some(models/animations/vault.glb#Node41) }
    "mixamorig12:RightHandPinky4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 43 }), path: Some(models/animations/vault.glb#Node43) }
    "mixamorig12:Spine2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 51 }), path: Some(models/animations/vault.glb#Node51) }
    "mixamorig12:RightHandPinky3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 44 }), path: Some(models/animations/vault.glb#Node44) }
    "mixamorig12:LeftHandIndex4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 7 }), path: Some(models/animations/vault.glb#Node7) }
    "mixamorig12:LeftHandRing1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 18 }), path: Some(models/animations/vault.glb#Node18) }
    "mixamorig12:RightForeArm",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 48 }), path: Some(models/animations/vault.glb#Node48) }
    "mixamorig12:RightShoulder",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 50 }), path: Some(models/animations/vault.glb#Node50) }
    "mixamorig12:RightUpLeg",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 63 }), path: Some(models/animations/vault.glb#Node63) }
    "mixamorig12:LeftLeg",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 57 }), path: Some(models/animations/vault.glb#Node57) }
    "mixamorig12:LeftHandIndex3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 8 }), path: Some(models/animations/vault.glb#Node8) }
    "mixamorig12:RightHandThumb3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 28 }), path: Some(models/animations/vault.glb#Node28) }
    "mixamorig12:LeftHandIndex1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 10 }), path: Some(models/animations/vault.glb#Node10) }
    "mixamorig12:Spine1",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 52 }), path: Some(models/animations/vault.glb#Node52) }
    "mixamorig12:RightHandPinky2",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 45 }), path: Some(models/animations/vault.glb#Node45) }
    "mixamorig12:LeftHandThumb3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 4 }), path: Some(models/animations/vault.glb#Node4) }
    "brian",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 65 }), path: Some(models/animations/vault.glb#Node65) }
    "mixamorig12:LeftHandRing3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 16 }), path: Some(models/animations/vault.glb#Node16) }
    "mixamorig12:RightHandRing3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 40 }), path: Some(models/animations/vault.glb#Node40) }
    "mixamorig12:RightHandMiddle3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 36 }), path: Some(models/animations/vault.glb#Node36) }
    "mixamorig12:RightArm",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 49 }), path: Some(models/animations/vault.glb#Node49) }
    "mixamorig12:RightHand",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 47 }), path: Some(models/animations/vault.glb#Node47) }
    "mixamorig12:LeftHandPinky3",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 20 }), path: Some(models/animations/vault.glb#Node20) }
    "mixamorig12:RightHandThumb4",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 27 }), path: Some(models/animations/vault.glb#Node27) }
    "mixamorig12:Neck",  // Node: StrongHandle<GltfNode>{ id: Index(AssetIndex { generation: 0, index: 2 }), path: Some(models/animations/vault.glb#Node2) }
    // Total: 66 named nodes
  ],
)
